.task {
  background: #fff;
  color: #000;
  min-height: 6rem;
  border-radius: var(--BORDER-RADIUS);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  overflow: auto;
  cursor: move;
}

.task__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.bottom-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.status {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: var(--BORDER-RADIUS);
}

.TODO {
  background: var(--COLOR-GRAY-LIGHT);
}

.IN_PROGRESS {
  background: var(--COLOR-INPROGRESS);
}

.DONE {
  background: var(--COLOR-DONE);
}

.btn-delete {
  outline: none;
  border: 0;
}

.trash-icon {
  font-size: 1rem;
}
